/* Import */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');


/* Text */
h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', sans-serif;
  color: rgba(52, 61, 70, 1);
}

p {
    font-family: 'PT Serif', serif;
    color: rgb(0, 0, 0);
}


/* ToC Links */
.book .book-summary ul.summary li a {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: rgba(52, 61, 70, 1);
  text-decoration: none;
}

.book .book-summary ul.summary li a:hover {
  color: rgba(52, 61, 70, 1);
  text-decoration: underline;
}


/* In-text links */
.book .book-body .page-wrapper .page-inner section.normal a {
  font-family: 'PT Sans', sans-serif;
  color: rgba(2, 63, 144, 1);
  text-decoration: none;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
  color: rgba(2, 63, 144, 1);
  text-decoration: underline;
}
